{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="col-sm-12">
        <h1>About:</h1>
            <p>
                This website was created as way to practice developing a Flask app and then deploying the app to a
                web server. This project is still in developemt. The code for this website can be found at
                <a href="https://github.com/brettvanderwerff/Sentiment-Analysis-Flask-App">my github</a>.
                Email
                <a href="brett.vanderwerff@gmail.com">brett.vanderwerff@gmail.com</a> with any comments or concerns.
                <br><br><br><br>
            </p>
    </div>
    <div class="row justify-content-sm-center">
        <img class="center-block" src="/static/cloud.jpg">
    </div>
</div>
{% endblock %}