{% extends "base.html" %}
 {% block content %}
  <div class="container">

      <div class="row justify-content-sm-center">
        <div class = "col-sm-8">
            <h1 class="text-center">Welcome to Sentiment Analytics</h1>
            <p class="text-center">
                A sentiment analysis tool powered by vaderSentiment<br><br><br><br>
                <a href="/submission">Upload a text file</a><br><br><br><br>
                <img src="/static/cloud.jpg">
            </p>
        </div>
      </div>

  </div>
{% endblock %}

