{% extends "base.html" %}
 {% block content %}
  <div class="container">
      <div class="row justify-content-sm-center">
        <div class = "col-sm-8">
            <h1 class="text-center">Welcome to Sentiment Analysis</h1>
            <p class="text-center">
                A sentiment analysis tool powered by
                <a href="https://github.com/cjhutto/vaderSentiment">vaderSentiment</a> and
                <a href="https://github.com/amueller/word_cloud">word_cloud</a> <br><br><br><br>
                <a href="/submit" class="btn btn-info" role="button">Submit text!</a><br><br>
                <a href="/upload" class="btn btn-info" role="button">Upload file!</a><br><br><br><br>
                <img src="/static/cloud.jpg">
            </p>
        </div>
      </div>
  </div>
{% endblock %}
