{% extends "base.html" %}
 {% block content %}
  <div class="container">

      <div class="row justify-content-md-center">
        <div class = "col-sm-8">
          <h1 class="text-center">Upload Your Text File</h1><br>
            <div class="text-center"><font color="red"> 1 MB upload size limit, must be UTF-8 encoded .txt </font><br><br><br><br></div>
            <form class="text-center" method=post enctype=multipart/form-data>
              <input type=file name=file>
              <input type=submit value=Upload>
            </form><br><br><br><br>
            <p class="text-center">
                <img src="/static/cloud.jpg">
            </p>
        </div>
      </div>

  </div>
{% endblock %}
